
.header {
  overflow: hidden;
  background-color: #E9EDC9;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: gray;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  }
.header a:visited {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}

.header a:hover {
  background-color: #CCD5AE;
  color: black;
}

.header a.active {
  background-color: #D4A373;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
body {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../images/homebg.jpg");
}
.h1{ 
	color:#FEFAE0;
	text-align: justify; 
	margin-top: 250px;
	margin-left: 300px;
    font-size: 45px;
}


.footer {
   position: fixed;
	padding: 5px;
   left: 0;
   bottom: 0;
	right: auto;
   width: 100%;
   background-color: #FAEDCD;
   color: #7E7B7B;
   text-align:center;
	opacity: 70%;
}
.bn39 {
  background-image: linear-gradient(35deg, #CCD5AE, #92A77C);
  border-radius: 6px;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  height: 60px;
  font-size: 24px;
  font-weight: 600;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 7em;
  z-index: 2;
}

.bn39:hover {
  color: #FEFAE0;
}

.bn39 .bn39span {
  align-items: center;
  background:#92A77C;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.bn39:hover .bn39span {
  background: transparent;
}
